doctype html
html
  head
    title Art in Motion
    block scripts
    block style 
     
  body
    nav#navbar 
        ul 
            div#logo
                img(src="/static/img/logo.jpg", alt="")
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class info]
            li #[a(href="/contact") Contact]
    block content
    footer#footer
        h3 Copyright © 2022 ArtinMotion.com | All rights reserved
