*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 12px 0px;
}

.container{
    min-height: 75vh;
    margin-top: 20px;
}

.myform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myInput{
    width: 40%;
    margin: 8px;
    padding: 7px 10px;
    border: 3px solid grey;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

.btn{
    padding: 8px 14px;
    margin: 14px;
    font-weight: bold;
    font-size: 12px;
    border: 3px solid grey;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    background-color: rgb(116, 116, 192);
    color: white;
}


